body {
  padding: 0;
  height: 100vh;
}

.star {
  border-radius: 50%;
  position: absolute;
  width: 3.5px;
  height: 3.5px;
}

.backStar {
  background-color: rgb(134, 134, 134);
  border-radius: 50%;
  position: absolute;
  width: 2px;
  height: 2px;
}

.fullScreen {
  height: 100%;
}

@media only screen and (max-width: 600px) {

  .star {
    width: 3px;
    height: 3px;
  }

}
