body {
  background: black;
  margin: 0;
  padding: 0;
}

.star {
  border-radius: 50%;
  position: absolute;
  width: 5px;
  height: 5px;
}

.backStar {
  background-color: rgb(134, 134, 134);
  border-radius: 50%;
  position: absolute;
  width: 2px;
  height: 2px;
}

.fullScreen {
  height: 100vh;
}
